---
---

body {
    font-size: medium;
    font-family: Segoe UI, sans-serif;
}

a {
    color: #333333;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.box {
    padding: 1px 24px 10px 24px;

    &:hover {
        background-color: rgba(22, 22, 22, 0.05);
        border-radius:10px; 
    }
}

.footer {
    font-size: small;
    
    a {
        text-decoration: underline;
        color: blue;
    }
}