<section class="theme-dark" id="download">

  <div class="container">

    <div class="row align-items-center">

      <div class="col-lg-6 my-5">
        <img class="img-fluid" src="assets/img/light-screenshot.jpg" alt="Screenshot">
      </div>

      <div class="col-lg-6 text-center">

        <!-- Project on GitHub -->
        <h2>View Full Project</h2>
        <a href="{{ site.github.repository_url }}" class="btn btn-default btn-xl wow tada">
          View on GitHub
        </a>
        <p><br>— or —</p>

        <!-- Download Latest Version -->
        <h2>Download For Free</h2>
        <a href="{{ site.github.latest_release.assets[0].browser_download_url }}"
          class="btn btn-default btn-xl wow tada">
          Download Now
        </a>

        <br>
        <small>
          Requires <a href="https://dotnet.microsoft.com/download/dotnet-core/current/runtime">.Net Core 3.1 Runtime</a>
        </small>

        <div class="row justify-content-center mt-4">
          <div class="col">
            {% assign shield = "https://img.shields.io/github" %}
            {% assign style = "style=flat-square" %}
            <a class="text-decoration-none" href="{{ site.github.repository_url }}/releases/latest">
              <img class="mx-1" src="{{ shield }}/release/{{ site.repository }}.svg?{{ style }}" alt="version">
            </a>
            <img class="mx-1" src="{{ shield }}/downloads/{{ site.repository }}/total.svg?{{ style }}" alt="downloads">
          </div>
        </div>

      </div>

    </div>

  </div>

</section>