<section class="bg-primary" id="about">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">Encode arabic text into scouts' ciphers with a single button click!</h2>
                <hr class="light">
                <p class="text-faded">Choose between a lot of ciphers, different encoding keys, output styles and methods</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <img class="img-responsive" src="img/screenshot.jpg" alt="Screenshot">
            </div>
        </div>

    </div>
    
</section>
