  <aside class="bg-dark" id="download">
      <div class="container text-center">

            <div class="row">
                <a href="https://github.com/YoussefRaafatNasry/ScoutsEncoder/releases/download/v1.3/ScoutsEncoder.v1.3.exe" class="btn btn-default btn-xl wow tada">Download Now</a>
            </div>

            <div class="row align-items-center">
                </br>
                <p>— or —</p>
            </div>

            <div class="row">
                <a href="https://github.com/YoussefRaafatNasry/ScoutsEncoder" class="btn btn-default btn-xl wow tada">View on GitHub</a>
            </div>

      </div>
  </aside>
