<section id="contact">
    
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>
                    ScoutsEncoder is maintained by {{ site.author.name }}.<br/>
                    A student at FCIS - ASU and a member of Saint Paul Scouts.
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
                
            <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
                <i class="fab fa-linkedin fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
    
            <a href="mailto:{{ site.author.email }}">
                <i class="fas fa-envelope fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>

            <a href="https://github.com/{{ site.author.github }}">
                <i class="fab fa-github-square fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>

        </div>

    </div>

</section>