<section id="contact">
    <div class="container">

        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>ScoutsEncoder is Maintained by Youssef Raafat. A student at Faculty of Computer and Information Sciences - Ain Shams University</p>
            </div>
        </div>

        <div class="row text-center">
                
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fab fa-linkedin-in fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>

            <a href="mailto:{{ site.email }}">
                <i class="fas fa-envelope fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>

            <a href="https://github.com/{{ site.github_username }}">
                <i class="fab fa-github fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
    
        </div>
    </div>

</section>


<footer class="footer text-center">
    <p>Copyright © 2018 - ScoutsEncoder</p>
</footer>
