<section id="contact">
    
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>ScoutsEncoder is Maintained by {{ site.author.name }}. A student in Faculty of Computer and Information Sciences at Ain Shams University.</p>
            </div>
        </div>

        <div class="row justify-content-center">
                
            <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
                <i class="fab fa-linkedin-in fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>

            <a href="mailto:{{ site.author.email }}">
                <i class="fas fa-envelope fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>

            <a href="https://github.com/{{ site.author.github }}">
                <i class="fab fa-github fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
    
        </div>

    </div>

</section>