<section class="bg-dark" id="download">

    <div class="container">

            <div class="row justify-content-center">
                <div class="col text-center">
                    <h2 class="section-heading">View Full Project</h2>                    
                    <a href="https://github.com/YoussefRaafatNasry/ScoutsEncoder"
                       class="btn btn-default btn-xl wow tada">
                       View on GitHub
                    </a>
                </div>
            </div>

            <div class="row justify-content-center">
                <p><br>— or —</p>
            </div>

            <div class="row justify-content-center">
                <div class="col text-center">
                    <h2 class="section-heading">Download For Free</h2>                    
                    <a href="https://github.com/YoussefRaafatNasry/ScoutsEncoder/releases/download/v1.3/ScoutsEncoder.v1.3.exe"
                       class="btn btn-default btn-xl wow tada">
                       Download Now
                    </a>
                    <p><sub><sup>release v1.3</sub></sup></p>
                </div>
            </div>

    </div>

</section>
