<section class="bg-dark" id="download">

    <div class="container">

        <div class="row align-items-center">
    
            <div class="col-lg-6 p-3">
                <img class="img-responsive" src="img/light-screenshot.jpg" alt="Screenshot">
            </div>
    
            <div class="col-lg-6 p-3 text-center">
    
                <!-- Project on GitHub -->
                <h2>View Full Project</h2>
                <a href="https://github.com/YoussefRaafatNasry/ScoutsEncoder" class="btn btn-default btn-xl wow tada" style="visibility: visible; animation-name: tada;">
                   View on GitHub
                </a>
                <p><br>— or —</p>
    
                <!-- Download Version -->
                <h2>Download For Free</h2>
                <a id="latest-version-download-link" class="btn btn-default btn-xl wow tada" style="visibility: visible; animation-name: tada;">
                   Download Now
                </a>

                <div class="row justify-content-center mt-4">
                    <a href="https://github.com/YoussefRaafatNasry/ScoutsEncoder/releases/latest">
                        <img class="mx-1" src="https://img.shields.io/github/release/YoussefRaafatNasry/ScoutsEncoder.svg?style=flat-square" alt="version">
                    </a>
                    <img class="mx-1" src="https://img.shields.io/github/downloads/YoussefRaafatNasry/ScoutsEncoder/total.svg?style=flat-square" alt="downloads">
                </div>

            </div>
    
        </div>
    
    </div>
    
</section>
