<section class="bg-dark" id="download">

    <div class="container">

        <div class="row align-items-center">
    
            <div class="col-lg-6 p-3">
                <img class="img-responsive" src="img/screenshot.jpg" alt="Screenshot">
            </div>
    
            <div class="col-lg-6 p-3 text-center">
    
                <!-- Project on GitHub -->
                <h2>View Full Project</h2>
                <a href="https://github.com/YoussefRaafatNasry/ScoutsEncoder" class="btn btn-default btn-xl wow tada" style="visibility: visible; animation-name: tada;">
                   View on GitHub
                </a>
                <p><br>— or —</p>
    
                <!-- Download Version -->
                <h2>Download For Free</h2>
                <a href="https://github.com/YoussefRaafatNasry/ScoutsEncoder/releases/download/v1.3/ScoutsEncoder.v1.3.exe" class="btn btn-default btn-xl wow tada" style="visibility: visible; animation-name: tada;">
                   Download Now
                </a>
                <p><sub><sup>release v1.3</sup></sub></p>
    
            </div>
    
        </div>
    
    </div>
    
</section>
