<section id="features">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-6 text-center">
                <div class="feature-box">
                    <i class="fas fa-4x fa-list-ul wow bounceIn text-primary"></i>
                    <h3>14 Ciphers</h3>
                    <p class="text-muted">A lot of ciphers that get updated frequently.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="feature-box">
                    <i class="fas fa-4x fa-key wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Encoding Keys</h3>
                    <p class="text-muted">You can use different encoding keys for each cipher to get different encodings.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="feature-box">
                    <audio id="audio-player" src="wav/MorseCode.wav"></audio>
                    <div>
                         <a onclick="document.getElementById('audio-player').play()">
                            <i class="fas fa-4x fa-volume-up wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        </a>
                     </div>
                    <h3>Audio Output</h3>
                    <p class="text-muted">Export audio output for your Morse encoding. <i>(click on the above icon to listen)</i></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="feature-box">
                    <i class="fas fa-4x fa-align-center wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Output Styles</h3>
                    <p class="text-muted">Customize your output depending on your preferences.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="feature-box">
                    <i class="fas fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>PDF Guides</h3>
                    <p class="text-muted">User Manual and Ciphers Handbook PDFs for more help.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="feature-box">
                    <i class="fas fa-4x fa-adjust wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Light/Dark Themes</h3>
                    <p class="text-muted">Choose the theme that fits you more.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="feature-box">
                    <i class="fas fa-4x fa-code-branch wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Open Source</h3>
                    <p class="text-muted">Source code is available on GitHub.</p>
                </div>
            </div>

             <div class="col-lg-3 col-md-6 text-center">
                <div class="feature-box">
                    <i class="fas fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">Encode your text without any effort for FREE!</p>
                </div>
            </div>   

        </div>

    </div>

</section>
