<div class="container text-center my-5 py-4">

  <div class="row mt-4 justify-content-center">

    <div class="col-lg-6 text-center">

      <h2>Let's Get In Touch!</h2>
      <hr class="primary">

      <p class="mb-4">
        <b>ScoutsEncoder</b> is developed and maintained by <b>Youssef Raafat</b>.<br />
        A student at FCIS - ASU and a member of Saint Paul Scouts.
      </p>

      <p>
        <i class="fas fa-code"></i>
        with
        <i class="fas fa-heart text-danger"></i>
        by
        <a class="font-weight-bold text-primary text-decoration-none" href="../">{{ site.github.owner_name }}</a>
        </br>
        <small>© 2018 - <script>document.write(new Date().getFullYear())</script> {{ site.title }}</small>
      </p>


    </div>

  </div>

</div>