<nav id="mainNav" class="navbar navbar-default navbar-expand-lg fixed-top">
  <a class="navbar-brand page-scroll" href="#page-top">{{ site.title }}</a>
  <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <a class="mx-1 nav-item nav-link page-scroll" href="#about">About</a>
      <a class="mx-1 nav-item nav-link page-scroll" href="#features">Features</a>
      <a class="mx-1 nav-item nav-link page-scroll" href="#download">Download</a>
      <a class="mx-1 nav-item nav-link" href="./docs">Docs</a>
    </ul>
  </div>
</nav>