---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    <!-- Bootstrap Core CSS CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap Grid CSS-->
    <link rel="stylesheet" href="../../css/bootstrap-grid.css" type="text/css">


    <style>
        body {
            font-family: Segoe UI, sans-serif;
        }

        a {
            color: #333333;
            text-decoration: none;
        }
    </style>

</head>

<body>

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-8">
                {{ content }}
            </div>
        </div>
    </div>

</body>

</html>